<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.persistence.NotesMapper">

    <resultMap id="notesResultMap" type="Notes">
        <id property="id" column="ID" />
        <result property="name" column="NAME" />
        <result property="checkmark" column="checkmark" />
        <result property="listsid" column="listsid"/>
    </resultMap>

    <select id="findAll" resultMap="notesResultMap">
        SELECT *
        FROM notes
    </select>

    <select id="findByName" parameterType="String" resultMap="notesResultMap">
        SELECT *
        FROM notes
        WHERE name = #{name}
    </select>

    <select id="findByListId" parameterType="Long" resultMap="notesResultMap">
        SELECT *
        FROM notes
        WHERE listsid = #{listsid}
    </select>

    <select id="findById" parameterType="Long" resultMap="notesResultMap">
        SELECT *
        FROM notes
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="Notes" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO notes (NAME, checkmark, listsid)
        VALUES (#{name}, #{checkmark},#{listsid} )
    </insert>

    <update id="update" parameterType="Notes">
        UPDATE notes SET
        NAME = #{name},
        checkmark = #{checkmark},
        listsid = #{listsid}
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM notes WHERE ID = #{id}
    </delete>


</mapper>