<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.persistence.UserMapper">

    <resultMap id="userResultMap" type="User">
        <id property="id" column="id" />
        <result property="login" column="username" />
        <result property="password" column="password" />
        <result property="role" column="role" />
    </resultMap>

    <select id="findByName" parameterType="String" resultMap="userResultMap">
        SELECT id,username,password,role
        FROM users
        WHERE username = #{username}
    </select>

    <select id="findById" parameterType="Long" resultMap="userResultMap">
        SELECT *
        FROM users
        WHERE id = #{id}
    </select>

    <update id="update" parameterType="User">
        UPDATE users SET
        login = #{login},
        password = #{password},
        role = #{role}
        WHERE ID = #{id}
    </update>

    <select id="findAll" resultMap="userResultMap">
        SELECT *
        FROM users
    </select>
    
    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (username,password,role)
        VALUES (#{login}, #{password} ,#{role} )
    </insert>   

    <delete id="delete" parameterType="long">
        DELETE FROM users WHERE id = #{id}
    </delete>

    <select id="findRange" parameterType="int" resultMap="userResultMap">
        SELECT *
        FROM users
        LIMIT #{param1},#{param2}
    </select>

    <select id="size" resultType="Long">
        SELECT COUNT(*) FROM users
    </select>

    <delete id="clear">
        DELETE FROM users
    </delete>

    
</mapper>
